<!DOCTYPE html>
<html>
<head>
<style>
body {
	font: normal 100% Helvetica, Arial, sans-serif;
}
.main {
	float: right;
	width: 70%; 
}

.leftBar {
	float: left;
	width: 25%;
}
img { max-width: 100%;}

</style>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>{{ page.title }}</title>
</head>
<body>

<div>
	{{ content }}
</div>

<p>联系我:<img src="http://luoleicn.github.io/source/images/email.png"></p>


</body>
</html>
